<%= simple_form_for @user do |f| %>
  <div class="form-inputs">
    <%= f.input :avatar, as: :file, input_html: { accept: "image/jpeg,image/png" },
    hint: "Files accepted: jpeg, png"%>
    <%= f.input :name, hint: "Enter your name" %>
    <%= f.input :bio, hint: "Introduce yourself to your future Toolmates !" %>
  </div>
  <%= f.button :submit, "I'm done !", class: 'button' %>
<% end %>
