<!DOCTYPE html>
<html>
  <head>
    <title>Toolmate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  </head>
  <body data-controller="loader">
    <div class="app">
      <% if user_signed_in? %>
      <aside class="sidebar" data-controller="sidebar">
        <%= render "shared/sidebar" %>
      <% end %>
      </aside>
      <main class="main-content">
        <% if user_signed_in? %>
          <%= render "shared/header" %>
        <% end %>
        <div class="dashboard-wrap px-4 py-4">
          <%= yield %>
        </div>
      </main>
    </div>
    <%= render "shared/flashes" %>
    <div id="app-loader"
       data-turbo-permanent
       class="app-loader hidden"
       data-loader-target="overlay"
       aria-hidden="true">
      <div class="app-loader__inner">
        <div class="app-loader__logo">ToolMate</div>
        <div class="app-loader__spinner" aria-label="Chargement…"></div>
      </div>
    </div>
  </body>
</html>
